.gas-cost {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
}



.colored-dot {
    width: 6px;
    height: 6px;
    border-radius: 100px;
}