.main-container {
    max-width: 1154px;
    padding: 1rem 1rem;
}

.explanations {
    text-align: center;
    margin-top: 5%;
    font-size: 1.75rem;
}

.slider-container {
    margin-top: 5%;
    margin-bottom: 5%;
    p {
        font-size: 1.5rem;
        text-align: center;
    }
}

@media only screen and (max-width: 1250px) {
    .main-container {
        max-width: 900px;
    }
    .slider-container{
        margin-bottom: 10%;
    }
}

@media only screen and (max-width: 900px) {
    .main-container {
        max-width: 700px;
    }
}

