.gasprice-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.gasprice-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
    position: relative;
    align-items: center;
    font-size: 1.1rem;
}


.gas-price-card {
    padding: 0.5rem;
    span {
        text-align: center;
    }
    .gasprice-card-title{
        margin-top: 10px;
    }
    .container {
        padding-left: 0px;
        .row {
            margin-left: 0;
        }
        .bordered-right {
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
        }
    }
}

@media only screen and (max-width: 900px) {
    .gas-price-card {
        margin-top: 20px;
        padding: 0px;
    }
}
